.app-container {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;

  .header-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 3px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
