.app-container {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  
*{
    border: 1px solid black;
  }
   

  .header-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 3px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
 
    border-radius: 5px;
    padding: 5px;
   
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
