.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  .card {
    height: 65%;
    width: 80%;
    padding: 25px;
    border-radius: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease 0.3s;
  }

  .card-one:hover {
    height: 95%;
    width: 95%;
    top: 50%;
    left: 50%;
  }

  .card:hover:not(.card:nth-child(1)) {
    rotate: 10deg;
  }

  .card:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5; /* A higher z-index brings it to the front */
    background-color: #ffcbe1;
  }



  .card:nth-child(2) {
    top: 52%;
    left: 48%;
    rotate: 3deg;
    z-index: 4; /* A lower z-index sends it to the back */
    background-color: #d6e5bd;
  }

  .card:nth-child(3) {
    top: 53%; //+
    left: 49%; //+
    rotate: 4deg; //+
    z-index: 3; /* A lower z-index sends it to the back */
    background-color: #f9e1a8;
  }

  .card:nth-child(4) {
    top: 54%; //+
    left: 49%; //+
    rotate: 5deg; //+
    z-index: 2; /* A lower z-index sends it to the back */
    background-color: #bcd8ec;
  }

  .card:nth-child(5) {
    top: 55%; //+
    left: 50%; //+
    rotate: 5deg; //+
    z-index: 1; /* A lower z-index sends it to the back */
    background-color: #8000ff;
  }
}

.card {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
}

.card-one:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
      height: 95%;
    width: 95%;
    top: 50%;
    left: 50%;
}

.card:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}