.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  .card {
    height: 65%;
    width: 80%;
    padding: 25px;
    border-radius: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: ease 0.3s;
  }

  .card-one:hover {
    height: 95%;
    width: 95%;
  }

  .card:hover:not(.card-one) {
    rotate: 10deg;
  }

  .card-one {
    position: absolute;
    top: 51%;
    left: 49%;
    z-index: 5; /* A higher z-index brings it to the front */
    background-color: #ffcbe1;
  }

  .card-two {
    top: 52%;
    left: 48%;
    rotate: 3deg;
    z-index: 4; /* A lower z-index sends it to the back */
    background-color: #d6e5bd;
  }

  .card-three {
    top: 53%; //+
    left: 49%; //+
    rotate: 4deg; //+
    z-index: 3; /* A lower z-index sends it to the back */
    background-color: #f9e1a8;
  }

  .card-four {
    top: 54%; //+
    left: 49%; //+
    rotate: 5deg; //+
    z-index: 2; /* A lower z-index sends it to the back */
    background-color: #bcd8ec;
  }

  .card-five {
    top: 55%; //+
    left: 50%; //+
    rotate: 5deg; //+
    z-index: 1; /* A lower z-index sends it to the back */
    background-color: #8000ff;
  }
}
