.flashcard-container {
 
  padding: 25px;
  display: flex;

  .card {
    display: flex;
    border-radius: 2rem;
    padding: 25px;
    flex: 1;
    height: 100%;
    border: 1px solid grey;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  }

  .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
}
