.nav-container {
  justify-content: space-around;
  align-content: center;
  align-items: center;
  display: flex;
  width: 10%;

  .play-icon,
  .gear-icon,
  .add-icon {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 0;
    border: 1px solid black;
    border-radius: 15px;
  }
}
